.About-Body{
    height: 100vh
}
.About-Container {
    border-bottom: solid black 0.5px;
}

/*.carousel-caption, h1, p {*/
/*background: transparent;*/
/*}*/
.carousel-img {
    /*max-height: 100rem;*/
    /*max-width: 100rem;*/
    object-fit: contain;
}
.Header p {
    margin: 0;
    padding: 1rem;
}
/*center header "project collection" in row*/
.Header {
    /*margin: 0;*/
    /*padding: 0;*/
    display: flex;
    align-items: center;
    justify-content: center;
}


