.Contact-Header {
}
.send-btn {
    background: pink;
}

.Contact-Form {
    font-family: "Inconsolata", monospace;
}
.Form-Text {
    align-self: flex-start;
}

.Contact-Form {
    margin-top: 60px;
    margin-bottom: 50px;
}
