.send-btn {
    background: pink;
}

/*.Header-Contact {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

.Contact-Form{
    font-family: 'Roboto Condensed', sans-serif;
}
.Form-Text{
    align-self: flex-start;
    /*text-align: left !important;*/
}