.Welcome-Container {
    height: 95vh;
    /*display: flex;*/
    padding-top: 10%;
    padding-bottom: 0;
    margin-bottom: 0;
    background: #EEEEEE;
}

.WelcomeRow p {
    padding-left: 25%;
    padding-right: 25%;

}

/*emoji*/
.bi {
    vertical-align: baseline;
}

.Intro {
    padding-bottom: 3%;
}
.Intro-Text {
    padding-bottom: 7rem;
}

.BannerContainer {
    /*height: 60vh;*/
    /*background: transparent;*/
    background: #EEEEEE;
    border-top: solid black 0.5px;
    border-bottom: solid black 0.5px;
}

.BannerRow {
    height: 100%;
}

.Header p {
    margin: 0;
    padding: 1rem;
}
/*center header "project collection" in row*/
.Header {
    /*margin: 0;*/
    /*padding: 0;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header-Item h1{
   /*margin: 12px;*/
}

/*.MediaCol {*/
/*    border: 1px #282c34 solid;*/
/*    height: 100%*/
/*}*/

.Education-Project {
    margin-bottom: 60px;
    background: #EEEEEE;
}


