.Welcome-Container {
    height: 100vh;
    /*display: flex;*/
    padding-top: 10%;
    padding-bottom: 0;
    margin-bottom: 0;
    background: #eeeeee;
}
/*small screens*/
/* Small Screens max width 640px */
@media screen and (max-width: 640px) {
    .Welcome-Container {
        margin-bottom: 15rem;
    }
}

.WelcomeRow p {
    padding-left: 25%;
    padding-right: 25%;
}

/*emoji*/
.bi {
    vertical-align: baseline;
}

.Intro {
    padding-bottom: 3%;
}
.Intro-Text {
    padding-bottom: 7rem;
}

.BannerContainer {
    border-top: solid black 0.5px;
    border-bottom: solid black 0.5px;
}

/*small screens*/
/* Small Screens max width 640px */
@media screen and (max-width: 640px) {
    .BannerContainer {
        border: none;
    }
}

.BannerRow {
    height: 100%;
}

.Header p {
    margin: 0;
    padding: 1rem;
}
/*center header "project collection" in row*/
.Header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.Education-Project {
    margin-bottom: 60px;
    background: #eeeeee;
}

.Project-Text {
    text-align: left;
}

.Pronouns {
    font-size: 20px;
}

.typewriter {
    color: #ff5722;
    font-family: "Inconsolata", monospace;
    font-size: 16px;
}
