*{
    background: #EEEEEE;
    margin: 0;
    padding: 0;
}

h1, .card-title {
    font-family: 'Merriweather', serif;

}

p, .card.text, .link {
    font-family: 'Roboto Condensed', sans-serif;
}

#stack-text{
    font-family: 'Roboto Condensed', sans-serif !important;
}

