.navbar {
    background: #eeeeee;
    color: #212529;
    border-bottom: 0.5px solid #212529;
    justify-content: space-between;
    font-family: sans-serif;
}

.logo {
    text-decoration: none;
    color: #212529;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
}

.logo:hover {
    color: #ff5722;
}

.nav-links {
    font-size: 14px;
    margin-left: 1em;
    margin-right: 1em;
    color: #212529;
}

/*nav-items change color when you hover over them*/
.nav-links:hover {
    color: #ff5722;
}
