.App {
    text-align: center;
}
* {
    background: #eeeeee;
}
h1 {
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #212529;
    font-weight: bold;
    line-height: 1.2;
}

p {
    font-family: "Inconsolata", monospace;
    font-size: 16px;
}

.bi {
    vertical-align: baseline;
}

.smile {
    transition: transform 0.7s ease-in-out;
}
.smile:hover {
    transform: rotate(360deg);
}

.Footer {
    border-top: solid black 0.5px;
}
